{% extends "quickpages/press.html" %}


{% block content %}

<div class="container">
  <div class="row">
    {{ content|safe }}
    
    {% for p in QuickPage_pr_objects.presspages %}
      <p>
        <a href="/{{ p.slug }}">{{ p.title }}</a>
      </p>
    {% endfor %}
  </div>
</div>

{% endblock content %}
